@model SPOffice.UserInterface.Models.QuotationReportViewModel


@using UserInterface.App_Start
@{
    ViewBag.Title = "Quotation Report";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableFixedHeader")

}
<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index","Report")><i class="fa fa-print"></i> Reports</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>



<div class="preloader" id="prelaoder">
    <div class="col-md-12">
        <div class="col-md-12">Loading </div>
        <div class="col-md-12" style="margin-left:5%;margin-top:-3%;"><img src="~/Content/images/loading.gif" class="preloaderImg" /></div>
    </div>

</div>
<div class="col-md-12">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
</div>
<div class="form-horizontal">

    <div class="col-md-9" style="margin-top:10px;">
        <div class="col-md-3">
            @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("fromdate", "", new { @class = "form-control datepicker advance-filter",@Value = ViewBag.fromdate })


            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("todate", "", new { @class = "form-control datepicker advance-filter" , @Value = ViewBag.todate })
            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.QuoteFromCompName, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.QuoteFromCompName, Model.CompanyObj.CompanyList, new { @class = "form-control datepicker advance-filter", value = -1, style = "padding:4px 12px;", @id = "ddlFromCompany" })
                @Html.ValidationMessageFor(model => model.QuoteFromCompName, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.QuoteStage, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.QuoteStage, Model.QuoteStageObj.quoteStageList, new { @class = "form-control datepicker advance-filter", value = -1, style = "padding:4px 12px;", @id = "ddlQuoteStage" })
                @Html.ValidationMessageFor(model => model.QuoteStage, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-md-12">
            @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label", style = "visibility:hidden" })
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" onclick="FilterContent();"  style="height:28px"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="min-height:25px">
        @{
            var data = new { ActionType = "ListWithReset" };
            @Html.Action("ChangeButtonStyle", "Report", data);
        }
    </div>
    <div class="row summaryboxes">

        <div class="clearfix visible-sm-block">

        </div>

    </div>

    <div class="row">
        &nbsp;
    </div>
    <div class="row tableContainer">
        <div class="col-md-12" id="AHContainer">
            <table id="quotationReportTable" class="table stripe reportTable " cellspacing="0" width="100%">
                <thead>
                    <tr class="text-center TableHead">
                        <th>ID</th>
                        <th>Quote Date</th>
                        <th>Quote No.</th>
                        <th>Subject</th>
                        <th>To Company</th>
                        <th>Contact Details</th>
                        <th>From Company</th>
                        <th>Stage</th>
                    </tr>
                </thead>
            </table>
        </div>



    </div>

</div>


@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/QuotationReport");


}
