@model UserInterface.Models.POandQuoteSummaryViewModel


<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-maroon-active"onclick="OpenQuotationSummaryDashboard('Quotation')">
            <h3 class="widget-user-username">Quotation Summary</h3>
            <h5 class="widget-user-desc">(Last 6 months)</h5>
        </div>
        <div class="widget-user-image">
           
            <img class="img-circle" src="~/Content/images/contract.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.QuoteSummary.Draft</h5>
                        <span class="description-text " onclick="OpenQuotationDashboardfilter('Draft')">Draft</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.QuoteSummary.OnHold</h5>
                        <span class="description-text "onclick="OpenQuotationDashboardfilter('OnHold')">OnHold</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.QuoteSummary.InProgress</h5>
                        <span class="description-text   " onclick="OpenQuotationDashboardfilter('InProgress')" >In Prog.</span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <div class="col-sm-3  ">
                    <div class="description-block">
                        <h5 class="description-header">@Model.QuoteSummary.Closed</h5>
                        <span class="description-text  " onclick="OpenQuotationDashboardfilter('Closed')">Closed</span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-purple-active"onclick="OpenCustomerOrderDashboard('CustomerPurchaseOrder')">
            <h3 class="widget-user-username">Customer Orders</h3>
            <h5 class="widget-user-desc">(Last 6 Months)</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/Content/images/archives.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.CustomerPOSummary.open</h5>
                        <span class="description-text" onclick="OpenCustomerPODashboardfilter('Open')">Open</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.CustomerPOSummary.InProgress  </h5>
                        <span class="description-text"onclick="OpenCustomerPODashboardfilter('InProgress')">In Progress</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">@Model.CustomerPOSummary.Closed</h5>
                        <span class="description-text"onclick="OpenCustomerPODashboardfilter('Closed')">Closed</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-teal-gradient" onclick="OpenSupplierOrderDashboard('SupplierOrder')">
            <h3 class="widget-user-username">Supplier Orders</h3>
            <h5 class="widget-user-desc">(Last 6 Months)</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/Content/images/SuppPord.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">0</h5>
                        <span class="description-text">Open</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">0</h5>
                        <span class="description-text">In Progress</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">0</h5>
                        <span class="description-text">Closed</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>