@model UserInterface.Models.RecentEnquiriesViewModel
<div class="col-md-12">
    
        <div class="box box-info">
            <div class="box-header with-border  ">
                <h3 class="box-title">Recent Enquiries</h3>
                <span class="info " style="right:0px;float:right">Last 5 enquiries received &amp; Last 6 months enquiry summary</span>

            </div>
            <div class="with-border bg-maroon-active " style="height:2px!important"></div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-7">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>


                                    <th>Enq No</th>
                                    <th>Company</th>
                                    <th>Contact</th>
                                    <th>About</th>
                                   
                                    <th>Date</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.EnquiryList != null)
                                {

                                    for (int i = 0; i < Model.EnquiryList.Count; i++)
                                    {
                                        <tr>
                                            <th><a href="@Model.EnquiryList[i].URL">@Model.EnquiryList[i].EnquiryNo</a></th>
                                            <td>@Model.EnquiryList[i].CompanyName</td>
                                            <td>@Model.EnquiryList[i].Mobile</td>
                                            @if(@Model.EnquiryList[i].Subject !=null && @Model.EnquiryList[i].Subject.Length>30){
                                            <td title="@Model.EnquiryList[i].Subject">@Model.EnquiryList[i].Subject.Substring(0,30) ...</td>
                                            }
                                            else{
                                            <td>@Model.EnquiryList[i].Subject</td>
                                            }
                                          
                                           
                                            <td>@Model.EnquiryList[i].EnquiryDate</td>
                                            @if (Model.EnquiryList[i].EnquiryStatusCode == "CE")
                                            {
                                                <td><span class="label label-success">@Model.EnquiryList[i].EnquiryStatus</span></td>
                                            }
                                            else if (Model.EnquiryList[i].EnquiryStatusCode == "NCE")
                                            {
                                                <td><span class="label label-danger">@Model.EnquiryList[i].EnquiryStatus</span></td>
                                            }
                                            else if (Model.EnquiryList[i].EnquiryStatusCode == "OE")
                                            {
                                                <td><span class="label label-warning">@Model.EnquiryList[i].EnquiryStatus</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="label label-info">@Model.EnquiryList[i].EnquiryStatus</span></td>
                                            }
                                           

                                        </tr>

                                    }


                                }
                                @if (Model != null)
                                {
                                    for (int i = (Model.EnquiryList == null ? 0 : Model.EnquiryList.Count); i < 5; i++)
                                    {
                                        <tr>
                                            <th>-</th>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><span class="label label-info">-</span></td>

                                        </tr>

                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        <tr>
                                            <th>-</th>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td><span class="label label-info">-</span></td>

                                        </tr>

                                    }


                                }




                            </tbody>
                        </table>
                    </div>
                </div>
                @{

                    @Html.Action("EnquiriesSummary", "Dashboard");
                }
             
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
            <div class="box-footer clearfix">

                <a href="@Model.BaseUrl" class="label bg-maroon-active">View All / Add New</a>


            </div>
        </div>


      



    </div>
