@using UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.path= "Home / " + ViewBag.Title;
}
<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div> 
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12" style="cursor:pointer">
    @{

        @Html.Action("POandQuoteSummary", "Dashboard");
    }

</div>
<div class="col-md-12">
    @{
        
        @Html.Action("RecentEnquiries", "Dashboard");
    }

   

</div>
<div class="col-md-12">
    @{

        @Html.Action("TodaysFollowUps", "Dashboard");
    }
</div>

<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12 ">
   

</div>

 

<div class="col-md-12 ">
    

</div>

<div class="col-md-12 ">
    

</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")