@model UserInterface.Models.AppObjectViewModel
@using UserInterface.App_Start
@{
    ViewBag.Title = "Objects";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
        <li><a href=@Url.Content("~/SAMPanel")><i class="fa fa-users"></i> User management</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>


<div class="">
    <div class="" id="btnAppObjectPatch" style="min-height:25px">

        @{
            var data = new { ActionType = "List" };
            @Html.Action("ChangeButtonStyle", "AppObject", data);
        }
    </div>
</div>
<div class="form-horizontal" id="formDisplay">
    <div class="col-md-12">

        <div class="col-md-6">
            <div class="form-group col-md-8">
                <div class="col-md-12">
                    <label class="control-label">Select Application</label>
                </div>
                <div class="col-md-12">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AppID, Model.ApplicationList, "--Select Application--", new { @class = "form-control", @onchange = "ChangeObjectData(this)", @id = "ddlApplication", Value = ViewBag.AppID })
                    </div>
                    <div class="col-md-1 mandatory"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>

            </div>
    
            <div id="formEdit" style="display:none;">
                @using (Ajax.BeginForm("InserUpdateObject", "AppObject", new AjaxOptions { HttpMethod = "POST", Confirm = "", OnSuccess = "SaveSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", @id = "LP" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Create Object</h4>*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.HiddenFor(model => model.AppID, htmlAttributes: new { @class = "", @id = "hdnAppID" })
                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "", @id = "hdnID" })
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.ObjectName, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ObjectName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ObjectName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1 mandatory"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                        </div>

                    </div>
                        
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" hidden="hidden">
                                    <input type="submit" value="Create" id="btnSave" class="btn btn-default" />
                                </div>
                            </div>
                }
                @using (Ajax.BeginForm("DeleteObject", "AppObject", new AjaxOptions { HttpMethod = "POST", Confirm = "Are you sure?", OnSuccess = "DeleteSuccess", OnFailure = "NetworkFailure", AllowCache = false, LoadingElementId = "", OnBegin = "", OnComplete = "" }, new { @class = "form-horizontal", role = "form", @id = "LP" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>Create Object</h4>*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.HiddenFor(model => model.AppID, htmlAttributes: new { @class = "", @id = "hdnAppIDDelete" })
                            @Html.HiddenFor(model => model.ID, htmlAttributes: new { @class = "", @id = "hdnIDDelete" })
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" id="btnDelete" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="col-md-12">&nbsp;</div>
    <div id="AppObjecttbldiv" class="col-md-12">
        <table id="tblAppObjects" class="table table-striped table-bordered table-hover" cellspacing="0">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Object Name</th>
                    <th>Application Name</th>
                    <th>Created Date</th>
                    <th>Action</th>
                    <th>Manage</th>
                </tr>
            </thead>
        </table>
    </div>


</div>



<div>
</div>
@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/AppObject")
}