@model SPOffice.UserInterface.Models.QuoteMailPreviewViewModel


<div id="mailcontainerDiv">


  
 
    <div style="max-width: 800px; font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555; margin: auto; padding: 30px; border: 3px solid #adadad;">
        <table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: left;border-bottom-color:#944a83!important;border-bottom:thin solid">
            <tr class="top">
                <td style="width:400px;vertical-align: top;  " valign="top"><img src=http://www.santhiplastics.com/images/logo.png style="width:100%; max-width:100px;"></td>
                <td colspan="2" style="vertical-align: top;  text-align:right" valign="top">
                      <table style="width: 100%; line-height: inherit; text-align: left;">
                        <tr><td style="text-align:right;"><span style="font-size:25px">Quotation</span></td></tr>
                      </table>
                   
                </td>
            </tr>
        </table>

        <table style="line-height:20px;margin-top:5px">
            <tr style="width:100%;">              
                <td style="width:600px;"></td>
                <td style="width:400px;text-align:right">
                    <table style="width:100%;font-size:12px">
                        <tr style="width:100%"><td style="width:50%"></td><td style="text-align:left;">Quote#</td><td style="width:2%">:</td><td style="text-align:right;padding-left:5px;">@Model.quoteHeaderViewModel.QuotationNo</td></tr>
                        <tr style="width:100%"><td></td><td style="text-align:left;">Date</td><td style="width:2%">:</td><td style="text-align:right;padding-left:5px;">@Model.quoteHeaderViewModel.QuotationDate  </td></tr>
                    </table>
                    
                    <span style="text-align:left;"></span><br/>  
                <span style="text-align:left;"></span>             
              </td>
                                                                       
            </tr>
        </table>
        <br/>
        
        <table>
            <tr style="width:100%;">
                <td style="width:400px;text-align:left;font-size:15px"><b>From</b><br/>  @Model.quoteHeaderViewModel.company.Name<br/>
                                @Model.quoteHeaderViewModel.company.BillingAddress<br/>
                                </td>
                <td style="width:200px;"></td>
                <td style="width:400px;text-align:left;font-size:15px"><b>To</b> <br /> @Model.quoteHeaderViewModel.customer.CustomerName<br/>
                                @Model.quoteHeaderViewModel.customer.BillingAddress<br/>
                                </td>
            </tr>

        </table>

        <br />
        

        <table>
            <tr>
               <td style="font-size:15px"><b>Sub</b><br/>@Model.quoteHeaderViewModel.QuoteSubject</td>
            </tr>
        </table>

        <br />

        <table>
            <tr>
                <td style="font-size:15px;">@Html.Raw( @Model.quoteHeaderViewModel.QuoteBodyHead)</td>
            </tr>
        </table>
        <br />
        <table id="ItemDetailsTable" style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%; line-height: inherit; text-align: left;" cellspacing="0" width="100%">
            <thead>
                <tr style="border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: #eee;">
                    <th style="text-align: center;padding: 8px;">SlNo.</th>
                    <th style="text-align: center;padding: 8px;">Product Code</th>
                    <th style="text-align: center;padding: 8px;">Description</th>
                    @*<th style="text-align: center;padding: 8px;">Unit</th>
                    <th style="text-align: center;padding: 8px;">Quantity</th>*@
                    <th style="text-align: center;padding: 8px;">Rate</th>
                    @*<th style="text-align: center;padding: 8px;">Amount</th>*@
                </tr>
                @if (Model.quoteHeaderViewModel.quoteItemList != null)
                {
                    int slno = 1;
                    foreach (var mp in Model.quoteHeaderViewModel.quoteItemList)
                    {
                        <tr style="text-align: right;padding: 8px;border-bottom-style: solid;border-bottom-width: 2px;border-bottom-color: #eee;">

                            <td style="text-align: center;padding: 8px;">@slno</td>
                            <td style="text-align: center;padding: 8px;">@mp.ProductCode</td>
                            <td style="text-align: center;padding: 8px;">@mp.ProductDescription</td>
                            @*<td style="text-align: center;padding: 8px;">@mp.UnitDescription</td>
                            <td style="text-align: center;padding: 8px;">@mp.Quantity</td>*@
                            <td style="text-align: center;padding: 8px;">@mp.Rate</td>
                            @*<td style="text-align: right;padding: 8px;">@mp.Amount</td>*@

                        </tr>
                        slno = slno + 1;
                    }
                }

            </thead>
        </table>
        <br/>

        @*<table cellpadding="0" cellspacing="0" style="width: 100%; line-height: inherit; text-align: right;">

            <tr class="">
                <td style="vertical-align: top; padding: 5px;" valign="top">
                    Gross Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top">
                    @Model.quoteHeaderViewModel.GrossAmount
                </td>
            </tr>
            <tr class="item">
                <td style="vertical-align: top;  padding: 5px;" valign="top">
                    Cash Discount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top">
                    @Model.quoteHeaderViewModel.Discount
                </td>
            </tr>
            <tr class="">
                <td style="vertical-align: top; padding: 5px;" valign="top">
                    Net Taxable Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top">
                    @Model.quoteHeaderViewModel.NetTaxableAmount
                </td>
            </tr>
            <tr class="">
                <td style="vertical-align: top; padding: 5px;" valign="top">
                    Tax Amount
                </td>

                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top">
                    @Model.quoteHeaderViewModel.TaxAmount
                </td>
            </tr>
            <tr class="">
                <td style="vertical-align: top; padding: 5px;" valign="top"></td>

                <td style="vertical-align: top; text-align: right; padding: 5px;" align="right" valign="top"></td>
            </tr>

            <tr class="total">
                <td style="vertical-align: top; padding: 5px;" valign="top"></td>

                <td style="vertical-align: top; text-align: right; border-top-style: solid; border-top-width: 2px; border-top-color: #eee; font-weight: bold; padding: 5px;" align="right" valign="top">
                    Total: @Model.quoteHeaderViewModel.TotalAmount
                </td>
            </tr>

        </table>*@
        <table style="width: 100%; line-height: inherit; text-align: left;">
            
            <tr class="details">
                <td style="vertical-align: top; padding: 5px 5px 20px;font-size:15px;" valign="top">
                   @Html.Raw( @Model.quoteHeaderViewModel.QuoteBodyFoot)
                </td>
            </tr>
        </table>
    </div>


</div>
